@model WebAppVeterinaria.ViewModels.ConsultaViewModel

@{
    ViewData["Title"] = "Create";
}

<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div>
                            <h5>Dados do cliente</h5>
                        </div>
                        <div style="background-color:white; width:100%; display:flex; padding:40px; flex-wrap:wrap;" class="shadow-sm">

                            <div class="col-md-6">
                                <div class="form-group d-none">
                                    <label asp-for="DataCadastro" class="control-label"></label>
                                    <input asp-for="DataCadastro" class="form-control" disabled />
                                    <span asp-validation-for="DataCadastro" class="text-danger"></span>
                                </div>


                                <div class="form-group">
                                    <label asp-for="ClienteId" class="control-label"></label>
                                    <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId">
                                        <option value="">Escolha um cliente</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label asp-for="VeterinarioId" class="control-label"></label>
                                    <select asp-for="VeterinarioId" class="form-control" asp-items="ViewBag.VeterinarioId">
                                        <option value="">Escolha um Veterinário</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label asp-for="DataConsulta" class="control-label"></label>
                                    <input asp-for="DataConsulta" class="form-control" />
                                    <span asp-validation-for="DataConsulta" class="text-danger"></span>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1" asp-for="Retorno" onclick="Mudarestado('retorno')">
                                    <label class="custom-control-label" for="customSwitch1">@Html.DisplayNameFor(model => model.Retorno)</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div id="retorno" class="hidden" style="display:none;">
                                    <div class="form-group">
                                        <label asp-for="DataRetorno" class="control-label"></label>
                                        <input asp-for="DataRetorno" class="form-control focus" />
                                        <span asp-validation-for="DataRetorno" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Descricao" class="control-label"></label>
                                    <input asp-for="Descricao" class="form-control" />
                                    <span asp-validation-for="Descricao" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Observacao" class="control-label"></label>
                                    <textarea cols="40" rows="5" asp-for="Observacao" class="form-control"></textarea>
                                    <span asp-validation-for="Observacao" class="text-danger"></span>
                                </div>
                            </div>

                        </div>

                        <div class="mt-3">
                            <h5>Dados do Pet</h5>
                        </div>
                        <div style="background-color:white; width:100%; display:flex; padding:40px; flex-wrap:wrap;" class="shadow-sm">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="AnimalId" class="control-label"></label>
                                    <select asp-for="AnimalId" class="form-control" asp-items="ViewBag.AnimalId">
                                        <option value="">Escolha um pet</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="RacaAnimal" class="control-label"></label>
                                    <input asp-for="RacaAnimal" class="form-control" />
                                    <span asp-validation-for="RacaAnimal" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TipoEspecie" class="control-label">Espécie</label><br />
                                    <input type="radio" value="1" asp-for="TipoEspecie" checked /> Canina
                                    <input type="radio" value="2" asp-for="TipoEspecie" /> Felina
                                </div>
                                <div class="form-group">
                                    <label asp-for="TipoSexo" class="control-label">Sexo</label><br />
                                    <input type="radio" value="1" asp-for="TipoSexo" checked /> Macho
                                    <input type="radio" value="2" asp-for="TipoSexo" /> Fêmea
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Idade" class="control-label"></label>
                                    <input asp-for="Idade" class="form-control" />
                                    <span asp-validation-for="Idade" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Peso" class="control-label"></label>
                                    <input asp-for="Peso" class="form-control" />
                                    <span asp-validation-for="Peso" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="HistoricoClinicoAnimal" class="control-label"></label>
                                    <textarea cols="40" rows="5" asp-for="HistoricoClinicoAnimal" class="form-control"> </textarea>
                                    <span asp-validation-for="HistoricoClinicoAnimal" class="text-danger"></span>
                                </div>
                                <div class="form-group d-none">
                                    <label asp-for="UsuarioId" class="control-label"></label>
                                    <input asp-for="UsuarioId" class="form-control" value="@TempData["UsuarioId"]" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 p-0 m-0">
                        <div class="form-group mt-2">
                            <input type="submit" value="Salvar" class="btn btn-success" />
                            <a class="btn btn-light" asp-action="Index">Voltar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


<script>
    function Mudarestado(el) {
        var display = document.getElementById(el).style.display;
        if (display == "none")
            document.getElementById(el).style.display = 'block';
        else
            document.getElementById(el).style.display = 'none';
    }
</script>
}
