@model WebAppVeterinaria.ViewModels.ConsultaViewModel

@{
    ViewData["Title"] = "Create";
}

<section class="top-padding">
    <div class="container">
        <h1>Nova Consulta</h1>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Consulta.DataCadastro" class="control-label"></label>
                        <input asp-for="Consulta.DataCadastro" class="form-control" disabled/>
                        <span asp-validation-for="Consulta.DataCadastro" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Consulta.Cliente" class="texto-login-custom">Cliente</label>
                        @Html.DropDownList("ClienteId", Model.ClienteSelect, new { @class="form-control"})
                        <span asp-validation-for="Consulta.Cliente" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Consulta.Veterinario" class="texto-login-custom">Veterinário</label>
                        @Html.DropDownList("VeterinarioId", Model.VeterinarioSelect, new { @class = "form-control" })
                        <span asp-validation-for="Consulta.Veterinario" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Consulta.DataConsulta" class="control-label"></label>
                        <input asp-for="Consulta.DataConsulta" class="form-control" />
                        <span asp-validation-for="Consulta.DataConsulta" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Consulta.DataRetorno" class="control-label"></label>
                        <input asp-for="Consulta.DataRetorno" class="form-control" />
                        <span asp-validation-for="Consulta.DataRetorno" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Consulta.Descricao" class="control-label"></label>
                        <input asp-for="Consulta.Descricao" class="form-control" />
                        <span asp-validation-for="Consulta.Descricao" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Consulta.Retorno" /> @Html.DisplayNameFor(model => model.Consulta.Retorno)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="Consulta.Observacao" class="control-label"></label>
                        <input asp-for="Consulta.Observacao" class="form-control" />
                        <span asp-validation-for="Consulta.Observacao" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Consulta.NomeAnimal" class="control-label"></label>
                        <input asp-for="Consulta.NomeAnimal" class="form-control" />
                        <span asp-validation-for="Consulta.NomeAnimal" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Consulta.RacaAnimal" class="control-label"></label>
                        <input asp-for="Consulta.RacaAnimal" class="form-control" />
                        <span asp-validation-for="Consulta.RacaAnimal" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Consulta.TipoSexo" class="control-label"></label>
                        <input asp-for="Consulta.TipoSexo" class="form-control" />
                        <span asp-validation-for="Consulta.TipoSexo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Consulta.TipoEspecie" class="control-label"></label>
                        <input asp-for="Consulta.TipoEspecie" class="form-control" />
                        <span asp-validation-for="Consulta.TipoEspecie" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Consulta.Idade" class="control-label"></label>
                        <input asp-for="Consulta.Idade" class="form-control" />
                        <span asp-validation-for="Consulta.Idade" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Consulta.Peso" class="control-label"></label>
                        <input asp-for="Consulta.Peso" class="form-control" />
                        <span asp-validation-for="Consulta.Peso" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Consulta.HistoricoClinicoAnimal" class="control-label"></label>
                        <input asp-for="Consulta.HistoricoClinicoAnimal" class="form-control" />
                        <span asp-validation-for="Consulta.HistoricoClinicoAnimal" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
