@model WebAppVeterinaria.ViewModels.ClienteViewModel

@{
    ViewData["Title"] = "Create";
}

<section class="top-padding background-content">
    <div class="container">
        <h1>Novo Cliente</h1>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div>
                            <h5>Dados do cliente</h5>
                        </div>
                        <div style="background-color:white; width:100%; display:flex; padding:40px; flex-wrap:wrap;" class="shadow-sm">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="NomeCompleto" class="control-label">Nome Completo</label>
                                    <input asp-for="NomeCompleto" class="form-control" />
                                    <span asp-validation-for="NomeCompleto" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Rg" class="control-label">RG</label>
                                    <input asp-for="Rg" class="form-control" />
                                    <span asp-validation-for="Rg" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Cpf" class="control-label">CPF</label>
                                    <input asp-for="Cpf" class="form-control" />
                                    <span asp-validation-for="Cpf" class="text-danger"></span>
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Telefone" class="control-label"></label>
                                    <input asp-for="Telefone" class="form-control" />
                                    <span asp-validation-for="Telefone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Celular" class="control-label"></label>
                                    <input asp-for="Celular" class="form-control" />
                                    <span asp-validation-for="Celular" class="text-danger"></span>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1" asp-for="Ativo">
                                    <label class="custom-control-label" for="customSwitch1">@Html.DisplayNameFor(model => model.Ativo)</label>
                                </div>
                            </div>
                        </div>

                        <hr />

                        <div class="mt-3">
                            <h5>Dados de Endereço</h5>
                        </div>
                        <div style="background-color:white; width:100%; display:flex; padding:40px; flex-wrap:wrap;" class="shadow-sm">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Cep" class="control-label">CEP</label>
                                    <input asp-for="Cep" class="form-control" />
                                    <span asp-validation-for="Cep" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Logradouro" class="control-label">Endereço</label>
                                    <input asp-for="Logradouro" class="form-control" />
                                    <span asp-validation-for="Logradouro" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Bairro" class="control-label"></label>
                                    <input asp-for="Bairro" class="form-control" />
                                    <span asp-validation-for="Bairro" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Numero" class="control-label">Número</label>
                                    <input asp-for="Numero" class="form-control" />
                                    <span asp-validation-for="Numero" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Complemento" class="control-label"></label>
                                    <input asp-for="Complemento" class="form-control" />
                                    <span asp-validation-for="Complemento" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Cidade" class="control-label"></label>
                                    <input asp-for="Cidade" class="form-control" />
                                    <span asp-validation-for="Cidade" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Estado" class="control-label"></label>
                                    <input asp-for="Estado" class="form-control" />
                                    <span asp-validation-for="Estado" class="text-danger"></span>
                                </div>

                                <div class="form-group d-none">
                                    <label asp-for="UsuarioId" class="control-label"></label>
                                    <input asp-for="UsuarioId" class="form-control" value="@TempData["UsuarioId"]"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 p-0 m-0">
                        <div class="form-group mt-2">
                            <input type="submit" value="Salvar" class="btn btn-success" />
                            <a class="btn btn-light" asp-action="Index">Voltar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        BuscaCep();
    </script>
}
