@using WebAppVeterinaria.Entity
@model WebAppVeterinaria.Entity.Animal


<div class="row">
    <div style="background-color:white; width:100%; display:flex; padding:40px; flex-wrap:wrap;" class="shadow-sm">
        <div class="col-md-6">

            @*<div class="form-group">
            <label asp-for="Animal.Cliente" class="texto-login-custom">Cliente</label>
            @Html.DropDownList("ClienteId", Model.ClienteSelect, new { @class = "form-control" })
            <span asp-validation-for="Animal.Cliente" class="text-danger"></span>
        </div>*@
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>

            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Raca" class="control-label">Raça</label>
                <input asp-for="Raca" class="form-control" />
                <span asp-validation-for="Raca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoSexo" class="control-label">Sexo</label><br />
                <input type="radio" value="1" asp-for="TipoSexo" checked /> Macho
                <input type="radio" value="2" asp-for="TipoSexo" /> Fêmea
            </div>
            <div class="form-group">
                <label asp-for="TipoEspecie" class="control-label">Espécie</label><br />
                <input type="radio" value="1" asp-for="TipoEspecie" checked /> Canina
                <input type="radio" value="2" asp-for="TipoEspecie" /> Felina
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="TipoPelo" class="texto-login-custom">Pelagem</label>
                <select required id="Pelo" asp-for="TipoPelo" asp-items="Html.GetEnumSelectList<ETipoPelo>()" class="form-control mb-2">
                    <option selected value="">Escolha uma Pelagem...</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Idade" class="control-label"></label>
                <input asp-for="Idade" class="form-control" />
                <span asp-validation-for="Idade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peso" class="control-label"></label>
                <input asp-for="Peso" class="form-control" />
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nascimento" class="control-label">Data de Nascimento</label>
                <input asp-for="Nascimento" class="form-control" />
                <span asp-validation-for="Nascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacao" class="control-label">Observação</label>
                <textarea cols="40" rows="5" asp-for="Observacao" class="form-control"> </textarea>
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>