@using WebAppVeterinaria.Entity
@model WebAppVeterinaria.ViewModels.AnimalViewModel


<div class="row">
    <div style="background-color:white; width:100%; display:flex; padding:40px; flex-wrap:wrap;" class="shadow-sm">
        <div class="col-md-6">

            <div class="form-group">
                <label asp-for="Animal.Cliente" class="texto-login-custom">Cliente</label>
                @Html.DropDownList("ClienteId", Model.ClienteSelect, new { @class = "form-control" })
                <span asp-validation-for="Animal.Cliente" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Animal.Nome" class="control-label"></label>
                <input asp-for="Animal.Nome" class="form-control" />
                <span asp-validation-for="Animal.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.Raca" class="control-label">Raça</label>
                <input asp-for="Animal.Raca" class="form-control" />
                <span asp-validation-for="Animal.Raca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.TipoSexo" class="control-label">Sexo</label><br />
                <input type="radio" value="1" asp-for="Animal.TipoSexo" checked /> Macho
                <input type="radio" value="2" asp-for="Animal.TipoSexo" /> Fêmea
            </div>
            <div class="form-group">
                <label asp-for="Animal.TipoEspecie" class="control-label">Espécie</label><br />
                <input type="radio" value="1" asp-for="Animal.TipoEspecie" checked /> Canina
                <input type="radio" value="2" asp-for="Animal.TipoEspecie" /> Felina
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Animal.TipoPelo" class="texto-login-custom">Pelagem</label>
                <select required id="Pelo" asp-for="Animal.TipoPelo" asp-items="Html.GetEnumSelectList<ETipoPelo>()" class="form-control mb-2">
                    <option selected value="">Escolha uma Pelagem...</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Animal.Idade" class="control-label"></label>
                <input asp-for="Animal.Idade" class="form-control" />
                <span asp-validation-for="Animal.Idade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.Peso" class="control-label"></label>
                <input asp-for="Animal.Peso" class="form-control" />
                <span asp-validation-for="Animal.Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.Nascimento" class="control-label">Data de Nascimento</label>
                <input asp-for="Animal.Nascimento" class="form-control" />
                <span asp-validation-for="Animal.Nascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.Observacao" class="control-label">Observação</label>
                <textarea cols="40" rows="5" asp-for="Animal.Observacao" class="form-control"> </textarea>
                <span asp-validation-for="Animal.Observacao" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>