@model WebAppVeterinaria.ViewModels.AnimalViewModel
@using WebAppVeterinaria.Entity

@{
    ViewData["Title"] = "Create";
}

<section class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="mt-5">
                            <h5>Dados do Pet</h5>
                        </div>
                        <div style="background-color:white; width:100%; display:flex; padding:40px; flex-wrap:wrap;" class="shadow-sm">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label asp-for="ClienteId" class="control-label">Cliente</label>
                                    <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId">
                                        <option value="">Escolha um cliente</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Nome" class="control-label"></label>
                                    <input asp-for="Nome" class="form-control" />
                                    <span asp-validation-for="Nome" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Raca" class="control-label">Raça</label>
                                    <input asp-for="Raca" class="form-control" />
                                    <span asp-validation-for="Raca" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TipoSexo" class="control-label">Sexo</label><br />
                                    <input type="radio" value="1" asp-for="TipoSexo" checked /> Macho
                                    <input type="radio" value="2" asp-for="TipoSexo" /> Fêmea
                                </div>
                                <div class="form-group">
                                    <label asp-for="TipoEspecie" class="control-label">Espécie</label><br />
                                    <input type="radio" value="1" asp-for="TipoEspecie" checked /> Canina
                                    <input type="radio" value="2" asp-for="TipoEspecie" /> Felina
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="TipoPelo" class="texto-login-custom">Pelagem</label>
                                    <select required id="Pelo" asp-for="TipoPelo" asp-items="Html.GetEnumSelectList<ETipoPelo>()" class="form-control mb-2">
                                        <option selected value="">Escolha uma Pelagem...</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Idade" class="control-label"></label>
                                    <input asp-for="Idade" class="form-control" />
                                    <span asp-validation-for="Idade" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Peso" class="control-label"></label>
                                    <input asp-for="Peso" class="form-control" />
                                    <span asp-validation-for="Peso" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Nascimento" class="control-label">Data de Nascimento</label>
                                    <input asp-for="Nascimento" class="form-control" />
                                    <span asp-validation-for="Nascimento" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Observacao" class="control-label">Observação</label>
                                    <textarea cols="40" rows="5" asp-for="Observacao" class="form-control"> </textarea>
                                    <span asp-validation-for="Observacao" class="text-danger"></span>
                                </div>
                                <div class="form-group d-none">
                                    <label asp-for="UsuarioId" class="control-label"></label>
                                    <input asp-for="UsuarioId" class="form-control" value="@TempData["UsuarioId"]" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 p-0 m-0">
                        <div class="form-group mt-2">
                            <input type="submit" value="Salvar" class="btn btn-success" />
                            <a class="btn btn-light" asp-action="Index">Voltar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
