<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebAppVeterinaria</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100&display=swap" rel="stylesheet">
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/animate.css/animate.css" rel="stylesheet" />
    <link href="~/css/pagedlist.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow border-0">
            <div class="container">
                <a class="navbar-brand"><img src="~/img/Logo.svg" alt="Alternate Text" style="width:50px" /><span class="text-secondary p-1">Animals<span class="text-color-secondary font-weight-bold">Care</span></span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between mr-auto">
                    <ul class="navbar-nav  ml-auto">
                        <li class="nav-item">
                            <a class="nav-link nav-link-color" asp-area="" asp-controller="Animais" asp-action="Index">Animais</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-color" asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-color" asp-area="" asp-controller="Consultas">Consultas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-color" asp-area="" asp-controller="Servicos">Serviços</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-color" asp-area="" asp-controller="Veterinarios">Veterinários</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid pl-0 pr-0 overflow-h background-content">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - <span class="text-color-primary">Animals</span><span class="text-color-secondary">Care</span> - Feito com <i class="fas fa-heart text-color-secondary"></i>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
