@model WebAppVeterinaria.Entity.Veterinario

@{
    ViewData["Title"] = "Edit";
}

<section class="top-padding">
    <div class="container">
        <h1>Editar Veterinário</h1>

        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <partial name="_FormVeterinario" />

                    <div class="form-group">
                        <input type="submit" value="Atualizar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a class="btn btn-light" asp-action="Index">Back to List</a>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
