@{
    ViewData["Title"] = "Home Page";
}

<section class=" background-content pt-5 top-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5">
                <div class="animate__animated animate__fadeInUp">
                    <h1 class="text-color-primary display-4">Conheça a Vet. Animals<span class="text-color-secondary font-weight-bold">Care</span></h1>
                    <p class="text-muted">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla gravida mauris, eget blandit sapien
                        scelerisque sed. Praesent efficitur mollis hendrerit. Donec sed tempus dolor. Curabitur eget lacus rhoncus odio
                        scelerisque ullamcorper quis non tellus.
                    </p>
                    <div>
                        <button class="btn btn-cta-primary">Experimentar Agora</button>
                        <button class="btn btn-cta-secondary">Saiba Mais</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="animate__animated animate__fadeIn">
                    <img class="img-fluid" src="~/img/Main.svg" alt="Alternate Text" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-light pb-5" style=" color:#03422f;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center p-5">Funcionalidades</h3>
            </div>
            <div class="col-md-4">
                <div class="card border-0 shadow-sm" style="padding-top:20px; padding-bottom:20px">
                    <div class="card-body">
                        <i class="fas fa-paw fa-2x pb-3 bg-primary-content"></i>
                        <h5 class="card-title mt-3">Gerenciamento de Consultas</h5>
                        <p class="card-text">
                            With supporting text below as a natural lead-in to additional content.
                            With supporting text below as a natural lead-in to additional content.
                            With supporting text below as a natural lead-in to additional content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 shadow-sm" style="padding-top:20px; padding-bottom:20px">
                    <div class="card-body">
                        <i class="fas fa-paw fa-2x pb-3 bg-primary-content"></i>
                        <h5 class="card-title mt-3">Gerenciamento de Consultas</h5>
                        <p class="card-text">
                            With supporting text below as a natural lead-in to additional content.
                            With supporting text below as a natural lead-in to additional content.
                            With supporting text below as a natural lead-in to additional content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 shadow-sm" style="padding-top:20px; padding-bottom:20px">
                    <div class="card-body">
                        <i class="fas fa-paw fa-2x pb-3 bg-primary-content"></i>
                        <h5 class="card-title mt-3">Gerenciamento de Consultas</h5>
                        <p class="card-text">
                            With supporting text below as a natural lead-in to additional content.
                            With supporting text below as a natural lead-in to additional content.
                            With supporting text below as a natural lead-in to additional content.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>